/*Header*/
.titulo-1{
    background-color: lavender;
    text-align: center;
    padding: 0.6em 0 0 0;
    font-size: 3em;
    text-decoration: underline;
    color: rgb(68, 68, 248);
    font-family: 'Shrikhand', cursive;
}
.titulo-2{
    background-color: lavender;
    text-align: center;
    padding: 1em 0 2em 0;
    margin-bottom: 0.2em;
    color: rgb(68, 68, 248);
}

/*Logo*/
.logo{
    margin-bottom: 1.5em;
    margin-left: 8vw;
}
article{
    position: relative;
    width: 12em;
    transition: all .3s ease;
}
article img:first-child{
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}
article img:last-child{
    position: absolute;
    width: 12em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}
article:hover{
    transform: 
        perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0);
}
article::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}
article:hover::before {
    opacity: 1;
}
article:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}

/*Main*/
main{
    width: 80%;
    height: 50%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lavender;
    box-shadow: -1px 0px 37px -4px rgba(0,0,0,0.75);
    
}
main:hover{
    width: 81%;
    height: 33.5vw;
}

/*Encriptador y desencriptador dentro del main*/
.encriptador{
    
    border: none;
    width: 50%;
    height: 30vw;
}
#text{
    background-color: lavender;
    width: 99.5%;
    height: 70%;
    border-radius: 0.8em;
    border: none;
    font-size: x-large;
}
#icono-advertencia{
    margin-left: 1em;
}
.encriptar, .desencriptar {
    border-radius: 1.4em;
    padding: 0.8em 4em;
    font-size: large;
    margin-top: 0.5em;
}
.encriptar{
    background-color: darkblue;
    color: white;
    margin-left: 1em;
    cursor:pointer;
}
.encriptar:active{
    background-color: white;
    color: blue;
    border-color: darkblue;
}
.desencriptar{
    border: solid darkblue 0.12em;
    color: blue;
    cursor:pointer;
}
.desencriptar:active{
    background-color: darkblue;
    color: white;
    border-color: darkblue;
}

/*Espacio para mostrar el resultado dentro del main*/
.resultado{
    background-color: lavender;
    margin: 2em auto;
    border: solid black 2px;
    border-radius: 0.8em;
    width: 40%;
    box-shadow: -1px 0px 37px -4px rgba(0,0,0,0.75);
}
.contenidoResultado{
    text-align: center;
    margin-top: 1em;
}
.imagen-muñeco{
    width: 45%;
    margin: auto;
}
.titulo-resultado{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: lavender;;
    border: none;
    width:90%;
}
.parrafo-resultado{
    text-align: center;
    color: gray;
    background-color: lavender;;
    border: none;
    width: 90%;
}

/*Agregar opacidad al pasar por arriba de los botones*/
button:hover{
    opacity: 0.8;
}
/*Botones de copiar y mover*/
.botonesMoverYCopiar{
    text-align: center;
    display: none;
}
.btn-copy, .btn-move{
    border-radius: 1.4em;
    padding: 0.8em 1em;
    font-size: large;
}
.btn-copy{
    background-color: darkblue;
    color: white;
    margin-right: 0.3em;
    cursor:pointer;
}
.btn-copy:active{
    background-color: white;
    color: blue;
    border-color: darkblue;
}
.btn-move{
    border: solid darkblue 0.12em;
    color: blue;
    margin-left: 0.3em;
    margin-bottom: 0.5em;
    cursor:pointer;
}
.btn-move:active{
    background-color: darkblue;
    color: white;
    border-color: darkblue;
}
/*Footer*/
footer{
    text-align: center;
    background-color: lavender;
    color: rgb(68, 68, 248);
}
.sitio{
    font-size: 0.9em;
    padding-top: 0.7em;
    margin-bottom: 0.7em;
}
.imagen-footer{
    width: 2%;
    margin: auto;
    margin-bottom: 0.5em;
}
.icono-footer{
    margin-left: 0.5em;
}
.icono-footer:hover{
    opacity: 0.8;
    font-weight: 600;
}
.derechos{
    margin-top: 0.7em;
    padding-bottom: 1em;
    color: black;
}
.nombre:hover{
    opacity: 0.8;
    font-weight: 600;
}


/*Responsive*/
@media screen and (max-width: 1235px){
    /*Ajusto los botones*/
    .encriptar{
        padding: 0.8em 2.1em;
    }
    .desencriptar{
        padding: 0.8em 2.1em;
    }
    .resultado{
        margin-bottom: 0.8em;;
    }
    /*Elimino imagen del muñeco*/
    .imagen-muñeco{
        display: none;
    }
    /*Ajusto los botones*/
    .btn-copy{
        width: 30%;
        padding: 0.6em 1em;
        margin: auto;
        
    }
    .btn-move{
        width: 30%;
        padding: 0.6em 1em;
        margin: auto;
        
    }

}

@media screen and (max-width:900px){
    /*Ajusto los botones*/
    .encriptar{
        padding: 0.5em 1em;
        width: 35%;
        margin-bottom: 0.5em;
    }
    .desencriptar{
        padding: 0.5em 0.5em;
        width: 40%;
    }
    .resultado{
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 2em;
    }
    /*Ajusto los botones*/
    .btn-copy{
        width: 35%;
        padding: 0.5em;
        margin: auto;
        margin-bottom: 0.5em;
    }
    .btn-move{
        width: 35%;
        padding: 0.5em;
        margin: auto;
        margin-bottom: 1em;
    }
}

@media screen and (max-width:756px){
    /*Cambio flex direction del main y sus medidas y del encriptador tambien*/
    main{
        flex-direction: column;
        height: 50em;
        width: 90%;
    }
    main:hover{
        height: 51em;
        width: 91%;
    }

    .encriptador{
        width: 90%;
        height: 20%;
        text-align: center;
        margin: auto;
    }
    /*Ajusto los botones*/
    .encriptar{
        padding: 0.9em 2em;
        margin: auto;
        margin-top: 0.6em;
        margin-bottom: 2em;
        width: 90%;
    }
    .desencriptar{
        padding: 0.9em 2em;
        margin: auto;
        width: 90%;
    }
    .resultado{
        width: 90%;
        height: 45%;
        margin-bottom: 1em;
        margin-top: 2em;
    }
    .contenidoResultado{
        height: 50%;
    }
    .titulo-resultado{
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }
    /*Ajusto los botones*/
    .btn-copy{
        width: 90%;
        padding: 0.9em 1em;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .btn-move{
        width: 90%;
        padding: 0.9em 1em;
        margin: auto;
        margin-bottom: 0.2em;
    }
}

@media screen and (max-width:500px){
    /*Ajusto los botones*/  
    .encriptar{
        padding: 0.5em 2em;
        margin: auto;
        margin-top: 0.8em;
        margin-bottom: 1em;
        width: 80%;
    }
    .desencriptar{
        padding: 0.5em 2em;
        margin: auto;
        width: 80%;
    }
    .btn-copy{
        width: 80%;
        padding: 0.5em 2em;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    .btn-move{
        width: 80%;
        padding: 0.5em 2em;
        margin: auto;
    }
}

/*Barra de scroll*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: darkviolet;
    border-radius: 4em;
}
::-webkit-scrollbar-thumb{
    background-color: lightblue;
    border-radius: 4em;
}

